<form class="row g-3">
  <div class="col-md-4">
    <label for="validationServer01" class="form-label">First name</label>
    <input
    type="text"
    class="form-control is-valid"
    id="validationServer01"
    name="firstname"[(ngModel)]="firstName"
    required>
    <div class="valid-feedback">
      Looks good!
    </div>
  </div>
  <div class="col-md-4">
    <label for="validationServer02" class="form-label">Last name</label>
    <input
    type="text"
    class="form-control is-valid"
    id="validationServer02"
    name="lastname"[(ngModel)]="lastName"
    required>
    <div class="valid-feedback">
      Looks good!
    </div>
  </div>
  <div class="col-md-4">
    <label for="validationServerUsername" class="form-label">Username</label>
    <div class="input-group has-validation">
      <span class="input-group-text" id="inputGroupPrepend3">E-mail</span>
      <input
      type="text"
      class="form-control is-valid"
      id="validationServerUsername"
      aria-describedby="inputGroupPrepend3 validationServerUsernameFeedback"
      name="email"[(ngModel)]="eMail"
      required>
      <div id="validationServerUsernameFeedback" class="valid-feedback">
        Looks good!
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <label for="validationServer03" class="form-label">City</label>
    <input
    type="text"
    class="form-control is-invalid"
    id="validationServer03"
    aria-describedby="validationServer03Feedback"
    name="city"[(ngModel)]="inputCity"
    required>
    <div id="validationServer03Feedback" class="invalid-feedback">
      Please provide a valid city.
    </div>
  </div>
  <div class="col-md-3">
    <label for="validationServer04" class="form-label">State</label>
    <select class="form-select is-invalid"
    id="validationServer04"
    aria-describedby="validationServer04Feedback"
    name="state"[(ngModel)]="inputState"
    required>
      <option selected disabled value="">Choose...</option>
      <option>São Paulo</option><option>Rio de Janeiro</option><option>Minas Gerais</option><option>Brasília</option><option>Mato Grosso</option><option>Mato Grosso do Sul</option><option>Paraná</option><option>Santa Catarina</option><option>Rio Grade do Sul</option><option>Vitória</option><option>Bahia</option><option>Sergipe</option><option>Pernambuco</option><option>Paraiba</option><option>Rio Grande do Norte</option><option>Ceará</option><option>Piauí</option><option>Maranhão</option><option>Pará</option><option>Amazonas</option><option>Acre</option><option>Roraima</option><option>Rondonia</option><option>Amapá</option><option>Tocantins</option>
    </select>
    <div id="validationServer04Feedback" class="invalid-feedback">
      Please select a valid state.
    </div>
  </div>
  <div class="col-md-3">
    <label for="validationServer05" class="form-label">Zip</label>
    <input type="text" class="form-control is-invalid" id="validationServer05" aria-describedby="validationServer05Feedback" required>
    <div id="validationServer05Feedback" class="invalid-feedback">
      Please provide a valid zip.
    </div>
  </div>
  <div class="mb-3">
    <label for="validationTextarea" class="form-label">Upload your Resume here</label>
    <input type="file" class="form-control" aria-label="file examp  le" required>
    <div class="valid-feedback"></div>
  </div>
  <div class="col-12">
    <div class="form-check">
      <input class="form-check-input is-invalid" type="checkbox" value="" id="invalidCheck3" aria-describedby="invalidCheck3Feedback" required>
      <label class="form-check-label" for="invalidCheck3">
        Agree to terms and conditions
      </label>
      <div id="invalidCheck3Feedback" class="invalid-feedback">
        You must agree before submitting.
      </div>
    </div>
  </div>
  <div class="col-12">
    <button class="btn btn-primary" type="submit" (click)="salvarInfo()">Submit form</button>
  </div>
</form>
